= semantic_form_for [@passageiro] do |form|
  = form.input :bairro, :label => 'Bairro'
  = form.input :cidade, :label => 'Cidade'
  = form.input :cpf, :label => 'Cpf'
  = form.input :idade, :label => 'Idade'
  = form.input :nome, :label => 'Nome'
  = form.input :rg, :label => 'Rg'
  = form.input :rua, :label => 'Rua'
  = form.submit 'Salvar'
