<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @destino.nome %>
</p>

<p>
  <b>Paise:</b>
  <%= @destino.paise.nome %>
</p>


<%= link_to 'Edit', edit_destino_path(@destino) %> |
<%= link_to 'Back', destinos_path %>
