= semantic_form_for [@voo] do |form|
  = form.input :tarifa, :label => 'Tarifa'
  = form.input :ciao, :member_label => :nome, :label => 'Ciao' 
  = form.input :destino, :member_label => :nome, :label => 'Destino' 
  = form.submit 'Salvar'
